<div class="container ">
    <div class="row">

        <div style="width:400px; margin:0 auto; padding-top: 10px;">
            <h3 style="text-align: center; padding-bottom: 10px;">Signup</h3>
            <%= form_for :user, url: '/users' do |f| %>

            <div style="width:100px; margin:0 auto; text-align: center; font-size: 20px; padding-bottom: 10px;">Name</div>
            <span style="color: black">
                <%= f.text_field :name %>
            </span>
            <div style="width:100px; margin:0 auto; text-align: center; font-size: 20px; padding-bottom: 10px;">Email</div>
            <span style="color: black">
                <%= f.text_field :email %>
            </span>
            <div style="width:100px; margin:0 auto; text-align: center; font-size: 20px; padding-bottom: 10px;">Password</div>
            <span style="color: black">
                <%= f.password_field :password %>
            </span>
            <div style="width:100px; margin:0 auto; text-align: center; font-size: 20px; padding-bottom: 10px;">Confirmation</div>
            <span style="color: black">
                <%= f.password_field :password_confirmation %>
            </span>

            <div style="text-align: center;">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <%= f.submit "Submit" %>
                </button>
            </div>

            <% end %>
        </div>
    </div>
</div>
