<h3>Signup!</h3>

<%= form_for :user, url: '/users' do |f| %>

Name:
<span style="color: black">
    <%= f.text_field :name %>
</span>
Email:
<span style="color: black">
    <%= f.text_field :email %>
</span>
Password:
<span style="color: black">
    <%= f.password_field :password %>
</span>
Password Confirmation:
<span style="color: black">
    <%= f.password_field :password_confirmation %>
</span>

<div style="text-align: center;">
    <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= f.submit "Submit" %>
    </button>
</div>

<% end %>
