<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="reviewrow">


  <div class="reviewitem">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="reviewitem">
    Put Image Link Below (i.e. http://photobucket.com/wyncoderocks/photo.jpg)

    <%= f.text_field :image_link %>
  </div>

  <div class="reviewitem">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="reviewitem">
    <%= f.label :price_in_cents %>
    <%= f.number_field :price_in_cents %>
  </div>

  <div class="actions">  <!-- add a button class -->
    <%= f.submit %>
  </div>
<% end %>
</div>
