<p id="notice"><%= notice %></p>

<h1>Wyshlist | Things Bianca Should Buy For Us</h1>

<table>
    <thead>
        <tr>
            <!-- <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th> -->
        </tr>
    </thead>
</table>
<!-- <tbody> -->

<div class="bigrow">
    <% @products.each do |product| %>
    <div class="proddetails">
        <div class="prodrow">
            <% mystring = "<img height=110px width=110 src=" + product.image_link.to_s + ">" %>
            <div class="prodimg"><%= mystring.html_safe %></div>
            <div class="prodname" style="text-align: center;">
                <h3><%= product.name %></h3>
  <p>Wynthoughts: <%= product.reviews.length%></p>


            </div>

            <div class="proddesc">
                <div>
                    <%= product.description %>
                </div>
                <div class="prodcontrol" style="padding-top: 80px">
                    <%= link_to 'Details', product %>
                    <%= link_to 'Edit', edit_product_path(product) %>
                    <%= link_to 'Decline', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>

            </div>
            <div class="prodprice"><%= product.formatted_price %></div>
        </div>

    </div>
    <% end %>
</div>
<!-- </tbody> -->
<!-- </table>  -->

<br><br>

<div class="prodnew"><%= link_to 'New Suggestion', new_product_path %></div>
